{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this game, you will be matched into a group of 4 people and you will play 10 rounds in this group. Each round consists of two stages.
            <br><br>
            In the first stage of each round, each person is given an endowment of 20 tokens and can choose how many of these tokens to keep for themselves and how many to contribute to a group account. At the end of the round, the tokens in the group account are doubled and then divided equally among the four group members. That is, each person receives a return of 0.5 for each token that is contributed by someone to the group account.
            <br><br>         
            Your payoff after each group member makes their contribution decision is:
            <br><br>     
            Payoff = 20 - Own Contribution + 0.5 (Total Amount Contributed by All Group Members)
            <br><br>     
            In the second stage, you will see the amount contributed to the group account by all 4 participants of your group. The order in which each person’s contribution appears is determined at random in each round, so you will not be able to track an individual’s contributions across rounds. Moreover, in this stage, you can decide whether to decrease the payoffs of the others in your group by assigning deduction points. These other participants can also decrease your payoff if they wish to. You will have to decide how many deduction points to assign to each of these other three participants in your group. You must enter a number for each of them. If you do not wish to change the payoffs of a person in your group then you must enter 0. You can assign up to 5 points to each participant.
            <br><br>    
            You will incur costs from assigning deduction points. Every deduction point you assign costs you 1 token and reduces the other person’s payoff by 3 tokens. How much the payoffs at the second stage are decreased depends on the sum of deduction points received. For instance, if somebody receives a total of 3 deduction points (from all other participants in this period), then this person’s earnings would be decreased by 9 tokens.
            <br><br>   
            Your total payoff for the round is therefore calculated as follows:
            Payoff from First Stage - 3 x (sum of received deduction points) - (sum of deduction points you have assigned)
            <br><br>   
        <p>
    </div>
</div>
