{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Group Composition
{% endblock %}

{% block content %}
<p>
In your group, the three particpants will be labeled: <br>
Participant A, Participant B, and Participant C.<br><br>

These roles will stay the same for all 10 periods.

You are Participant {% if player.participant.vars['label'] == 'A' %}A{% endif %}{% if player.participant.vars['label'] == 'B'%}B{% endif %}{% if player.participant.vars['label'] == 'C'%}C{% endif %}
<br><br>

Your group is as follows:<br><br>
Participant A {% if player.participant.vars['label'] == 'A' %}(You){% endif %}-{% if group.playerA == 'Republican' %}<a style="color:red">{{group.playerA}}</a>{% else %}<a style="color:blue">{{group.playerA}}</a>{% endif %}<br>
Participant B {% if player.participant.vars['label'] == 'B'%}(You){% endif %}-{% if group.playerB == 'Republican' %}<a style="color:red">{{group.playerB}}</a>{% else %}<a style="color:blue">{{group.playerB}}</a>{% endif %}<br>
Participant C {% if player.participant.vars['label'] == 'C'%}(You){% endif %}-{% if group.playerC == 'Republican' %}<a style="color:red">{{group.playerC}}</a>{% else %}<a style="color:blue">{{group.playerC}}</a>{% endif %}<br>
</p>
<br>

    {% next_button %}

{% endblock %}
