{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Group Composition
{% endblock %}

{% block content %}
<p>
In your group, the three participants will be labeled: <br>
Participant A, Participant B, and Participant C.<br><br>

These roles will stay the same for all 10 periods.

You are Participant {% if participant.vars['label'] == 'A' %}A{% endif %}{% if participant.vars['label'] == 'B'%}B{% endif %}{% if participant.vars['label'] == 'C'%}C{% endif %}
</p>
<br>

    {% next_button %}

{% endblock %}
