{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Group Composition
{% endblock %}

{% block content %}
<p>
In your group, the three particpants will be labeled: <br>
Participant A, Participant B, and Participant C.<br><br>

These roles will stay the same for all 10 periods.

You are Participant {% if player.label == 'A' %}A{% endif %}{% if player.label == 'B'%}B{% endif %}{% if player.label == 'C'%}C{% endif %}
<br><br>

Your group is as follows:<br>
Participant A {% if player.label == 'A' %}(You){% endif %}- {% if group.playerA == 'Republican' %}<p style="color:red">{{group.playerA}}</p>{% else %}<p style="color:blue">{{group.playerA}}</p>{% endif %}<br>
Participant B {% if player.label == 'B'%}(You){% endif %}-  {% if group.playerA == 'Republican' %}<p style="color:red">{{group.playerB}}</p>{% else %}<p style="color:blue">{{group.playerB}}</p>{% endif %}<br>
Participant C {% if player.label == 'C'%}(You){% endif %}-  {% if group.playerA == 'Republican' %}<p style="color:red">{{group.playerC}}</p>{% else %}<p style="color:blue">{{group.playerC}}</p>{% endif %}<br>
</p>
<br>

    {% next_button %}

{% endblock %}
