{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          You will play the game for 10 periods. Each period will have two stages.<br><br>

          Stage 1: Each person will decide how many of their 20 tokens to contribute the group account. <br><br>

          Stage 2: After you have viewed your earnings for the period, you will see an information screen showing how much Participant A, Participant B, and Participant C contributed to the group account and their earnings. <br><br>

          In this stage you can decide whether to decrease the earnings of each other group member by assigning deduction points. The other group members can also decrease your earnings if they wish to.<br><br>

          You will have to decide how many deduction points to assign to each of the other two group members. You can assign up to 5 points to each group member, or assign 0 points if you don’t wish to change a group member’s earnings.<br><br>

          For each deduction point that you allocate to another group member his or her earnings are reduced by 3 tokens and your own earnings are reduced by 1 token.<br><br>
          
          Note that you will not be allowed to reduce the earnings of a group member to less than zero.<br><br>

          After everyone has made a decision, you will be informed how many deduction points you received from the other group members and also what your total earnings in tokens for that period are. Note that you do not get to know how individual group members spend their deduction points.<br><br>

          It is, in principle, possible that you make negative earnings in a period. However, you can always avoid negative earnings with certainty through your own choices.


        </p>
    </div>
</div>
