{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          You will play the game for 10 periods. Each period will have two stages.<br><br>

          Stage 1: Each person will decide how many of their 20 tokens to contribute the group account. <br><br>

          Stage 2: After you have viewed your earnings for the period, you will see an information screen showing how much Participant A, Participant B, and Participant C contributed to the group account. You will then decide whether to reduce their earnings in the first stage by distributing points to them.

          </p>
    </div>
</div>
