{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Participation Game Instructions 
{% endblock %}
<br>

{% block content %}
{%if group.type == 'pun_partisan'%}{% include Constants.instructions_pun %}{% endif %}
{%if group.type == 'pun_control'%}{% include Constants.instructions_pun %}{% endif %}
{%if group.type == 'reg_partisan'%}{% include Constants.instructions_reg %}{% endif %}
{%if group.type == 'reg_control'%}{% include Constants.instructions_reg %}{% endif %}

<br>
    {% next_button %}

{% endblock %}
