{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Period {{subsession.round_number}}
{% endblock %}

{% block content %}
Results from Stage 2:<br>
Your stage 1 earnings: {{player.first_payoff}}<br>
You spent in total {{player.reduce}} tokens reducing other participants' earnings<br>
Other participants spent {% if player.label == 'A'%}{{group.A_punished}} {% elif player.label == 'B'%}{{group.B_punished}} {% elif player.label == 'C'%}{{group.C_punished}}{% endif %} to reduce your earnings by {{player.punished}} tokens<br>
Your final payoff for this period is {{player.round_payoff}}<br><br>

Test: {{player.final_payoff}}


    {% next_button %}
{% endblock %}
