{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    Cooperative Bargaining
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Auction
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>


          On this page, you will bargain with your partner to determine a lottery tickert distribution. You may either offer a ticket split, or accept one sent to you. You have 5 minutes.
          <br><br>


          <strong> PROPOSALS: </strong><br><br>

          <strong id="proposal" ><br>

          </strong>
          <br><br>
          <p>Do you wish to accept the offer?</p>
          <div>
            <button name="offer_accepted" id="accept">Yes</button>

          </div>
          <script>
            document.getElementById('accept').onclick = function (){
              liveSend('game_finished');
            };
          </script>

          <br><br>

          <strong> Send a lottery ticket split offer: </strong><br><br>

          I receive <input id="give" type="number" > tickets and you recieve <input id="keep" type="number"> tickets.   <button type="button" id="sendbutton">Send</button>

          </div.
    </div>

          {% endblock %}

          {% block scripts %}
          <script>

            let history = document.getElementById('history');
            let give = document.getElementById('give');
            let keep = document.getElementById('keep');
            let sendbutton = document.getElementById('sendbutton');


            function liveRecv(data){
              console.log(liveRecv)
              if (data == 'game_finished') {
                  document.getElementById("accept").click();
                  }
              document.getElementById("proposal").innerHTML = 'NEW PROPOSAL! \n Player two offered a lottery ticket split of ' + data[0]+'/'+data[1]+', meaning player two would keep '+data[0]+' tickets, and that you would Receive '+data[1]+' tickets.';


            }
              sendbutton.onclick = function (){
                  console.log(liveSend)
                  liveSend([give.value, keep.value]);
            };
        </script>
{% endblock %}
