{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    Cooperative Bargaining
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Auction
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>


          On this page, you will bargain with your partner to determine a lottery tickert distribution. You may either offer a ticket split, or accept one sent to you. You have 5 minutes.
          <br><br>
          <strong> PROPOSALS: </strong>
        <table id="history" class="table">
          <tr>
            <th>Player 2 Keeps:</th>
            <th>You Receive:</th>
          </tr>
        </table>

          Send a lottery ticket split offer:

          I receive <input id="inputbox" type="number"> tickets and <br> <button type="button" id="sendbutton">Send</button>

          {% endblock %}
          {% block scripts %}
          <script>

            let history = document.getElementById('history');
            let inputbox = document.getElementById('inputbox');
            let sendbutton = document.getElementById('sendbutton');


            function liveRecv(data){

              history.innerHTML += '<tr><td>' + data[0] + '</td><td>' + data[1] + '</td></tr>';


            }
              sendbutton.onclick = function (){
                  liveSend([parseint(inputbox.value))
            };
        </script>


    </div>
</div>


{% endblock %}
