{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    Cooperative Bargaining
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Auction
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>


          On this page, you will bargain with your partner to determine a lottery tickert distribution. You may either offer a ticket split, or accept one sent to you. You have 5 minutes.
          <br><br>
        <strong> CURRENT PROPOSAL: </strong>
        <table id ="current" class = "table" >
          <td id="proposal">
            NONE
          </td>
        </table>

        <strong> PAST PROPOSALS: </strong>
        <table id="history" class="table">
          <tr>
            <th>Player 2 Keeps:</th>
            <th>You Receive:</th>
          </tr>
        </table>



          <strong> Send a lottery ticket split offer: </strong><br><br>

          I receive <input id="inputbox1" type="number"> tickets and you recieve <input id="inputbox2" type="number"> tickets.  <button type="button" id="sendbutton">Send</button>

        </div>
    </div>

          {% endblock %}

          {% block scripts %}
          <script>

            let history = document.getElementById('history');
            let inputbox1 = document.getElementById('inputbox1');
            let inputbox2 = document.getElementById('inputbox2');
            let sendbutton = document.getElementById('sendbutton');


            function liveRecv(data){
              console.log(liveRecv)
              history.innerHTML += '<tr><td>' + data[0] + '</td><td>' + data[1] + '</td></tr>';

              document.getElementById('proposal').innerHTML = 'Player two offered a lottery ticket split of ' + str(data[0])+'/'+str(data[1])+', meaning player two would keep '+str(data[0])+' tickets, and that you would recieve '+str(data[1])+' tickets.';

            }
              sendbutton.onclick = function (){
                  console.log(liveSend)
                  liveSend([inputbox1.value, inputbox2.value]);
            };
        </script>
{% endblock %}
