{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
        Part 2 <br><br>
        In this part, you are matched with a different individual in the room. You will again bargain over how to divide up to 100 lottery tickets. The only difference is that now you know the cash prize in both of your lotteries.
        <br><br>
        Your cash prize is {% if player.id_in_group == 1 %} $1.25 {% else %} $3.75 {% endif %}.
        The other person’s cash prize is {% if player.id_in_group == 1 %} $3.75 {% else %} $1.25 {% endif %}.
        </p>
    </div>
</div>
