{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          Part 1 of 2. In this game, you will be randomly assigned to one of two groups, the Alpha group or the Beta group. On the next screen, you will learn which group you have been assigned to. There are {{subsession.alpha}} members of the Alpha group and {{subsession.beta}} members of the Beta group.
          <br><br>

          In each round, you will choose between two actions: Participate or Do Not Participate. Your payoff depends on your choice and the choices made by those in each group. Specifically:
          <br>
          &nbsp -If your group has more members choosing Participate than the other group, you will earn 105 points.<br>
          &nbsp -If both groups have the same number of members choosing Participate, you will earn 55 points.<br>
          &nbsp -If the other group has more members choosing Participate than your group, you will earn 5 points. <br><br>

          In addition to these payoffs, you will earn a bonus if you choose Do Not Participate. The amount of your bonus is randomly assigned by the computer each round and will appearon your screen before you make your decision for that round. In any given round you have an equal chance of being assigned any bonus between 0 and 55 points. Your bonus in each round does not depend on your bonus or decisions in previous rounds, or on the bonuses and decisions of other participants. Since bonuses are assigned separately for each participant, different participants will typically have different bonuses. While you are told your own bonus, you are never told the bonuses of other participants. You only know that each of the other participants has a bonus that is some number between 0 and 55.
          <br><br>
          You will play this game for five rounds. To summarize:
          <br><br>
          (1) You have been assigned to either the Alpha group or the Beta group.
          <br><br>
          (2) In each of five rounds, you will choose between Participate or Do Not Participate.
          <br><br>
          (3) Your payoff will depend on which group has more people choosing Participate. If your group has more people choosing Participate, you get 105 points, if your group has fewer people choosing Participate, you get 5 points, and if the groups have the same num- ber of people choosing Participate, you get 55 points.
          <br><br>
          (4) Further, if you personally choose Do Not Participate, you get an additional bonus, which is some number between 0 and 55 points, each with equal likelihood. You will learn your own bonus before making your decision, but you will not know the bonuses of the other participants.
          <br><br>

        </p>
    </div>
</div>
