{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          Part 1 of 2. In this game, you will be randomly assigned to one of two groups, the Alpha group or the Beta group. On the next screen, you will learn which group you have been assigned to. There will be {%if subsession.alpha == 1 %}{{subsession.alpha}} player{% else %}{{subsession.alpha}} players{% endif %} in the Alpha group and {%if subsession.beta == 1 %}{{subsession.beta}} player{% else %}{{subsession.beta}} players{% endif %} in the Beta group.
          <br><br>
          You will play this game for five rounds. To summarize:
          <br><br>
          (1) You have been assigned to either the Alpha group or the Beta group.
          <br><br>
          (2) In each of five rounds, you will choose between Participate or Do Not Participate.
          <br><br>
          (3) Your payoff will depend on which group has more people choosing Participate. If your group has more people choosing Participate, you get 105 points, if your group has fewer people choosing Participate, you get 5 points, and if the groups have the same number of people choosing Participate, you get 55 points.
          <br><br>
          (4) Furthermore, if you personally choose Do Not Participate, you get an additional bonus, which is some number between 0 and 55 points, each with equal likelihood. You will learn your own bonus before making your decision, but you will not know the bonuses of the other participants.
          <br><br>

        </p>
    </div>
</div>
