{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <br>
        <br>
        <p>
            &emsp;You will now play a game with other members of the class. Each person will guess a number from 0 to {{ session.config.endowment }}, with up to three decimal places. After everyone has submitted their number, we will compute the average (mean) guess. The person whose number is closest to two-thirds of this average wins the game.
            <br/>
            <br>
            &emsp;After entering your number, you will see the value of the average guess, two-thirds of the average guess, and whether or not you won the game.
        </p>
        <br>
    </div>
</div>
