{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            For this game, you will participate in a series of auctions in groups of four. In each auction, you will bid on a fictitious item, which has some value to you. The values will differ for each individual and be assigned at random from the interval of [0, 100]. You will learn your own value at the beginning of each auction round, but not the values of your competitors. In each round, each group member will submit a bid for the item. The person with the highest bid wins and earns their personal value. However, they still need to pay a price for the item. The price the winner pays is equal to the second highest bid in the group. The winner’s final payoff is equal to their personal item value minus this price. The payoff of those who do not win is zero. 
            You will participate in three auctions and your value for the item will vary across auction rounds. In each round, the value of the item for each individual player will be equal to an independently and randomly assigned number ranging from 0 to 100, with each number equally likely. At the end of each auction, you will learn the winning bid, whether you won, and your payoff. 
        </p>
        <br>

    </div>
</div>
