{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
        Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          This part will also last for 5 rounds. The rules are the same as in the first session, with one exception. Recall that in the previous part, your group decision was red if two or more members of your group voted red. Otherwise your group decision was blue. In this session there will be a slight change in the voting rule. Now, if (and only if) everyone in your group votes red, your group decision is red. Otherwise, your group decision is blue. That is, if anyone in your group votes blue, the group decision is blue.  </p>
    </div>
</div>
