{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
<body>
    <input type="hidden" name="my_hidden_input" />


    <div id = "jar_container"></div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src = "jar_game.js"></script>
    {% next_button %}

{% endblock %}
