{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Random Jar
{% endblock %}

{% block content %}
<body>
  <div id="errors" style="
    background: #c00;
    color: #fff;
    display: none;
    margin: -20px -20px 20px;
    padding: 20px;
    white-space: pre-wrap;
  "></div>

    <div id = "root" data-jar="{{ player.group.jar_type }}" data-guess= "{{player.signal}}"></div>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'condorcet/jar.css' %}"/>
    <script src="{% static 'condorcet/jar_game.js' %}" type="text/babel">
    </script>

    {{player.signal}}


<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
<style>
  button {
    border: 1px solid #999;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    line-height: 34px;
    height: 40px;
    width: 80px;
    opacity: .8;
    position: static;
    margin-right: -1px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
  }
  </style>
  <p> After revealing the color of one marbel, which Jar appears to have been assigned?</p>
<button name = "choice" style= "background-color: blue;" id = "blue_jar" value = "True">
  Blue Jar
</button>
 <button name = "choice" style= "background-color: red;" id = "red_jar" value = "False">
  Red Jar
</button>


</div>

</body>

{% endblock %}
