{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          In this game, you will randomly be matched with another player in the class. You will
          only interact via the computer, and will not know who you have been matched with. Each
          person is playing the role of a firm and must decide how much of a certain product their
          firm will produce. You will each simultaneously choose your production quantity.
          Each unit costs 10 to produce and can be sold at a price that is determined by market
          demand. The more that is produced in total (by the two firms), the lower the price will be. <br><br>
          Specifically, the price that the firms can get for their good is equal to: 100
          − (total amount produced by both firms).<br><br>
          Each firm’s profit is given by the quantity they produce times how much they make on each unit (that is, the price minus the cost of 10). Therefore, each person’s payoff is given by:<br><br>
          (Amount own firm produced)×(100 - amount own firm produced - amount other produced - 10).
          If the firms collectively produce more than 100 units, the price becomes 0.
          You will play for 10 rounds, with different partners each round.
        </p>
    </div>
</div>
