{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          <br>
          In this game, you will participate in a series of auctions in groups of 4. In each auction, you will bid on a fictitious item, which has some value to you. This value will be different for different participants, as described below. In each round, each group member will simultaneously submit a bid. The person with the highest bid wins and earns their value. Additionally, the winner must pay a price for the item equal to their own bid.
          <br><br>
          The winner’s payoff is equal to their value minus their bid. The payoff of those who do not win is zero.
          <br><br>
          You will play the game for five periods and each person’s value will be randomly de- termined each period. Specifically, each person’s value is between 0 and 100, with any value in this interval being equally likely. At the beginning of each round, you will learn your own value but not those of the other bidders.
        </p>
    </div>
</div>
