{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            <b>Stage 2:</b>Now, Player 1 will move first, choosing between “Up” or “Down.” Player 2 will then learn Player 1’s
            choice and choose between “A” or “B.” The game and the payoffs in each case are shown below:<br><br>
                    <img src="{% static 'nct/nct2.png' %}"/>
        </p>

    </div>
</div>
