{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
        Stage 1: Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          <br>
            Player 1 will move first, choosing between “In” or “Out.” If Player 1 chooses “Out,” then the game
            ends, with Player 1 earning 100 and Player 2 earning 600. If Player 2 chooses “In,” then Player 2 learns
            Player 1’s choice and chooses between “Up” (Player 1 earns 500 and Player 2 earns 100) or “Down” (Player
            1 earns −1000 and Player 2 earns −1000).
            <br><br>
            The game is depicted below:<br><br>
             <img src="{% static 'nct/nct1.png' %}"/>
        </p>
    </div>
</div>
