{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this game, you will randomly be matched with another player in the class.  You will only interact via the computer, and will not know who you have been matched with. You and your partner must each choose Hawk or Dove simultaneously.

            The payoff you receive is determined by both your choice, and the choice of your partner. You will play for 5 rounds, with 5 different partners.
            <br/>
            <br>

            <p style="text-align:center;">
            <img src="{% static 'hawk_dove/hawk_dove.png' %}" width = "335" height = "119" class = "center">
            </p>
    </div>
</div>
