{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<p> In this game, you will be matched with one other person. One player will be assigned the role of Participant A and the other Participant B. </p>

<p> In each round, a "secret number" will be randomly drawn, which is equal to either 1, 3, 5, 7, or 9, each with equal likelihood.
Each player's payoff will depend on both the actual secret number and an action taken by Participant B.</p>

<p>Participant A will know the secret number, but Participant B will not. Instead, Participant A will send a message to Participant B.
Specifically, Participant A will view the secret number and then send a message of either 1, 3, 5, 7, or 9. </p>

<p> Finally, Participant B will view the message take an action. The action can be any integer between 1 and 9.</p>

<p>Then the participants' payoffs will be:</p>

<p>Participant A: 110 - 10 |Secret Number - Action|^1.4</p>
<p>Participant B: 110 - 10 |Secret Number - Action|^1.4</p>

<p>Notice that both players' payoffs are maximized when Participant B's action matches the secret number and their payoffs decrease the further the action is from the secret number.</p>

<p>You will play four rounds with these payoffs and then we'll make a slight change.</p>

{% endblock %}
