{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this game you will be assigned to a group of eight and participate in this same group for 5 periods. At the beginning of each period, each participant receives an endowment of 20 tokens. In each period you (and the others in your group) must decide how many tokens to place into either or both of two accounts: a private account and a group account. All tokens must be placed in one account or the other. Each token you place in the private account generates a return to you (independent of what anyone else does), and each token you place in the group account generates a return that depends on how many tokens that others in your group place in the group account. Your earnings in a period are the sum of your earnings from the private account and your earnings from the group account.
            <br><br/>
            You and all the other members of your group will each get a share of the total group
            account earnings that depends on your token placements. If a total of X tokens are placed
            in the group account by group members, then the total group payoff is <math> 11X − (<sup>1</sup>&frasl;<sub>16</sub>)X<sup>2</sup></math> dollars. For example, if a total of 100 tokens are placed in the group account, the total group account earnings is 11 × 100 − (<sup>1</sup>&frasl;<sub>16</sub>) × 10000 = 1100 − 625 = 475. This amount, along with
            every other possible total token placement in the group account are shown on your input
            screen.
            <br/><br>
            <p style="text-align:center;">
            <img src="{% static 'pool/pool1.png' %}" width = "559" height = "700" class = "center">
            </p>
            .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
            <br/><br>
            Your share of this total group payoff equals your number of tokens placed in the group account as a fraction of the total tokens you and the others in your group place in the group account. For example, if a total of 100 tokens are placed in the group account, and you placed 10 of these 100 tokens, then you receive <sup>10</sup>&frasl;<sup>100</sup>=0.1 of the 475 total group payoff, or 47.5. Your private account generates a return to you that depends only on your tokens placed in the private account. In particular, you will receive 2 Experimental Dollars for each token that you place in your private account.
            <br/><br>
            You will indicate your decisions on the input-screen for the first stage: Since your endowment each period is 20 tokens, the two numbers you indicate on your input-screen must each be whole numbers between 0 and 20 and must sum to 20. After entering your decision you must press the Continue button.
            <br/><br>
            After all participants in your group have made their decisions for the period, the results screen will show you the total amount of tokens placed in the group account by all four participants of your group (including you) and your payoff for the period. Your earnings are the sum of your earnings from the private account and your earnings from the group account.
        </p>
    </div>
</div>
