{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this game you will be assigned to a group of eight and participate in this same group for 5 periods. In each period, each person can decide how much effort to put into extracting some common resource. Each person can put up to 20 units of effort into resource extraction. The benefit that your effort yields will depend on the extraction decisions of the other 7 individuals.
            <br/><br>
            Specifically, the total yield from extraction is given by 11(total effort) – 1/16(total effort)^2. The graph of this function is shown below. 

            <br/><br>
            <p style="text-align:center;">
            <img src="{% static 'pool/pool1.png' %}" width = "559" height = "400" class = "center">
            </p>
            <br/><br>
            The share of this yield that you personally get depends on your effort as a proportion of the total effort. 
            <br/><br>
            Finally, each unit of effort that you do not spend on resource extraction gives you a payoff of 2 (you can think of this as the opportunity cost of your time). 
            <br/><br>
            Your total payoff is thus equal to: 2(20 – your effort) + your effort/total effort (11 (total effort – 1/16 (total effort)^2). Your payoff for various combinations of your own effort and the total efforts of the other seven people are shown in the table below. 
            <br/><br>
            <p style="text-align:center;">
            <img src="{% static 'pool/pool2.png' %}" width = "750" height = "700" class = "center">
        </p>
    </div>
</div>
