{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Finalize Contract
{% endblock %}

{% block content %}
    {% if player.contract != None %}
    {%if player.contract == 'A and B'%}
    With a contract between firms {{player.contract}}, there is a total profit of 90.
    {% endif %}
    {%if player.contract == 'A and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 70.
    {% endif %}
    {%if player.contract == 'B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 40.
    {% endif %}
    {%if player.contract == 'A, B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 100.
    {% endif %}
    <br><br>

    Enter agreed upon merger profit distribution:

    {% formfields %}
      <button>Complete Contract</button>
    {% else %}
    Unfortunetly, you have not been selected for a merger. Please continue to the results page.
    <br><br>
    {% next_button %}
    {% endif %}



{% endblock %}
