{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Finalize Contract
{% endblock %}

{% block content %}
    {% if player.contract != None %}
    {%if player.contract == 'A and B'%}
    With a contract between firms {{player.contract}}, there is a total profit of 90.<br><br>

    Enter agreed upon merger profit distribution:<br>
      Firm A Merger Profit:<br>
      <input id ='firmA' name='firmA' type = 'number'></input><br>
      Firm B Merger Profit:<br>
      <input id ='firmB' name='firmB' type = 'number'></input>

    {% endif %}
    {%if player.contract == 'A and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 70.<br><br>

    Enter agreed upon merger profit distribution:<br>
      Firm A Merger Profit:<br>
      <input id ='firmA' name='firmA' type = 'number'></input><br>
      Firm C Merger Profit:<br>
      <input id ='firmC' name='firmC' type = 'number'></input>

    {% endif %}
    {%if player.contract == 'B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 40.<br><br>

    Enter agreed upon merger profit distribution:
    <br>
      Firm B Merger Profit:<br>
      <input id ='firmB' name='firmB' type = 'number'></input><br>
      Firm C Merger Profit:<br>
      <input id ='firmC' name='firmC' type = 'number'></input>
    {% endif %}
    {%if player.contract == 'A, B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 100.
    <br><br>

    Enter agreed upon merger profit distribution:
      <br><br><br><br>

      Firm A Merger Profit:<br>
      <input id ='firmA' name='firmA' type = 'number'></input><br><br>
      Firm B Merger Profit:<br>
      <input id ='firmB' name='firmB' type = 'number'></input><br><br>
      Firm C Merger Profit:<br>
      <input id ='firmC' name='firmC' type = 'number'></input>
    {% endif %}
    <br><br>


      <button id='complete' type='button'>Complete Contract</button>
      <br><br>
      Status:
      <p id="status">
        Merger in Progress
      </p>

      <button id="next"></button>


    {% else %}
    Unfortunetly, you have not been selected for a merger. Please continue to the results page.
    <br><br>
    {% next_button %}
    {% endif %}



{% endblock %}

{% block scripts %}
<script>

document.getElementById("next").style.display = "none";

var dict = {};
var occur = 0;

if(document.getElementById('firmA') != null){
    dict["firmA"] = parseInt(document.getElementById('firmA').value);
}
else{
  dict["firmA"] = 0;
}
if(document.getElementById('firmB') != null){
  dict["firmB"] = parseInt(document.getElementById('firmB').value);
}
else{
  dict["firmB"] = 0;
}
if(document.getElementById('firmC') != null){
  dict["firmC"] = parseInt(document.getElementById('firmC').value);
}
else{
  dict["firmC"] = 0;
}

  document.getElementById('complete').onclick = function (){
    console.log('clicked', data);
    liveSend(elements);
  };

  function liveRecv(data){
      console.log('received', data);
      if(data == 'wait'){
        document.getElementById("status").innerHTML = 'Waiting for partner';
      }
      if(data == 'match'){
        document.getElementById("status").innerHTML = 'Success!';
        document.getElementById("next").click();
      }
      if(data == 'fail'){
        if(occur >= 1){
        document.getElementById("next").click();
        }
        else{
        document.getElementById("status").innerHTML = 'Contract profit splits do not match with partner. Please try again.';
        occur = occur +1
      }
    }

  };


  </script>
  {% endblock %}
