{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Finalize Contract
{% endblock %}

{% block content %}
    {{player.contract}}
    {% if player.contract != None %}
    {%if player.contract == 'A and B'%}
    With a contract between firms {{player.contract}}, there is a total profit of 90.<br><br>

    Enter agreed upon merger profit distribution:<br><br>
      {% formfields %}<br>
      {% next_button %}

    {% endif %}

    {%if player.contract == 'A and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 70.<br><br>

    Enter agreed upon merger profit distribution:<br><br>
      {% formfields %}<br>
      {% next_button %}

    {% endif %}

    {%if player.contract == 'B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 40.<br><br>

    Enter agreed upon merger profit distribution:<br><br>
      {% formfields %}<br>
      {% next_button %}
    {% endif %}

    {%if player.contract == 'A, B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 100.
    <br><br>

    Enter agreed upon merger profit distribution:<br><br>
      {% formfields %}<br>
      {% next_button %}
    {% endif %}


    {% else %}
    Unfortunately, you have not been selected for a merger. Please continue to the results page.
    <br><br>
    {% next_button %}
    {% endif %}

  {% endblock %}
