{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiations
{% endblock %}

{% block content %}
    You are a representative of company {{player.role}}<br>
    You must now negotiate to create a profitable merger.


    <p style="text-align:center;">
    <img src="{% static 'coalition/chart.png' %}" width = "720" height = "255" class = "center">
    </p>


    {% for config in player.chat_configs %}
    <br><br>
    <h4>{{ config.label }}</h4>
    {% chat nickname=player.chat_nickname channel=config.channel %}
    {% endfor %}
    <br><br>
    <h4>Group Chat</h4>
    {% chat nickname=player.chat_nickname%}
    <br><br>
    <h4>
    Select Merger Partner(s):
      </h4>

    <select name="contract" id="contracts">
      {%if player.role == 'A'%}
        <option value="A and B">A and B</option>
        <option value="A and C">A and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
      {%if player.role == 'B'%}
        <option value="A and B">A and B</option>
        <option value="B and C">B and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
      {%if player.role == 'C'%}
        <option value="A and C">A and C</option>
        <option value="B and C">B and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
    </select>
    <br><br>
    <button type="button" id="accept">Create Merger</button>
    <button id="next"></button>



    {% endblock %}
    {% block scripts %}
    <script>


      document.getElementById("next").style.display = "none";

      document.getElementById('accept').onclick = function (){
        document.getElementById("next").click();

        liveSend(document.getElementById("contracts").value);
      };

      function liveRecv(data){
          console.log('received', data);
          if(data > 1){
            document.getElementById("next").click();
          }
      };

    </script>

      {% endblock %}
