{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiations
{% endblock %}

{% block content %}
    You are a representative of company {{player.role}}<br>
    You must now negotiate to create a profitable merger.


    <p style="text-align:center;">
    <img src="{% static 'coalition/chart.png' %}" width = "720" height = "255" class = "center">
    </p>


    {% for config in player.chat_configs %}
    <br><br>
    <h4>{{ config.label }}</h4>
    {% chat nickname=player.chat_nickname channel=config.channel %}
    {% endfor %}
    <br><br>
    <h4>Group Chat</h4>
    {% chat nickname=player.chat_nickname%}
    <br><br>
    <h4>
    Select Merger Partner(s):
      </h4>
    {% formfields %}

    <button type="button" id="accept">Create Merger</button>
    <button id="next"></button>



    {% endblock %}
    {% block scripts %}
    <script>

      let x = js_vars;

      document.getElementById("next").style.display = "none";

      document.getElementById('accept').onclick = function (){
        document.getElementById("next").click();

        liveSend(self.player.contract);
      };

      function liveRecv(data){
          console.log('received', data);
          console.log('sent', x);
          if(data > 1){
            document.getElementById("next").click();
          }
      };

    </script>

      {% endblock %}
