{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiations
{% endblock %}

{% block content %}
    <b>You are a representative of company {{player.role}}.</b><br>
    You must now negotiate to create a profitable merger.


    <p style="text-align:center;">
    <img src="{% static 'coalition/chart.png' %}" width = "720" height = "255" class = "center">
    </p>
    <style>
                .myButton {
                  box-shadow:inset 0px 1px 0px 0px #54a3f7;
                  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
                  background-color:#007dc1;
                  border-radius:3px;
                  border:1px solid #124d77;
                  display:inline-block;
                  cursor:pointer;
                  padding-top: 2px;
                  color:#ffffff;
                  font-family:Arial;
                  font-size:12px;

                  text-decoration:none;
                  text-shadow:0px 1px 0px #0073ff;
      }
                .myButton:hover {
                  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
                  background-color:#0061a7;
      }
                .myButton:active {
                  position:relative;
                  top:1px;
      }


      </style>


    {% for config in player.chat_configs %}
    <br><br>
    <h4>{{ config.label }}</h4>
    {% chat nickname=player.chat_nickname channel=config.channel %}
    {% endfor %}
    <br><br>
    <h4>Group Chat</h4>
    {% chat nickname=player.chat_nickname%}
    <br><br>
    <h4>
    Select Merger Partner(s):
      </h4>

    <select name="contract" id="contracts">
      {%if player.role == 'A'%}
        <option value="A and B">A and B</option>
        <option value="A and C">A and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
      {%if player.role == 'B'%}
        <option value="A and B">A and B</option>
        <option value="B and C">B and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
      {%if player.role == 'C'%}
        <option value="A and C">A and C</option>
        <option value="B and C">B and C</option>
        <option value="A, B and C">A, B and C</option>
      {%endif%}
    </select>


    <br>
    <button type="button" id="accept" class = "myButton">Create Merger</button>
    <button id="next"></button>



    {% endblock %}
    {% block scripts %}
    <script>


      document.getElementById("next").style.display = "none";

      document.getElementById('accept').onclick = function (){
        document.getElementById("next").click();

        liveSend(document.getElementById("contracts").value);
      };

      function liveRecv(data){
          console.log('received', data);
          if(data > 1){
            document.getElementById("next").click();
          }
      };

    </script>

      {% endblock %}
