{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second Chance
{% endblock %}

{% block content %}

Your initial contract split did not match that of your partner. Please try again.

{% block content %}
    {%if player.contract == 'A and B'%}
    With a contract between firms {{player.contract}}, there is a total profit of 90.<br><br>

    Enter agreed upon merger profit distribution:<br>
      {% formfields %}

    {% endif %}
    <br><br>
    {%if player.contract == 'A and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 70.<br><br>

    Enter agreed upon merger profit distribution:<br>
      {% formfields %}

    {% endif %}
    <br><br>
    {%if player.contract == 'B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 40.<br><br>

    Enter agreed upon merger profit distribution:<br>
      {% formfields %}
    {% endif %}
    <br><br>
    {%if player.contract == 'A, B and C'%}
    With a contract between firms {{player.contract}}, there is a total profit of 100.
    <br><br>

    Enter agreed upon merger profit distribution:<br>
      {% formfields %}
    {% endif %}
    <br><br>
    {% next_button %}

  {% endblock %}

{% endblock %}
