{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          In this game, you will randomly be matched with another player in the class. You will
          only interact via the computer, and will not know who you have been matched with. You
          and your partner must each simultaneously choose Movie or Concert simultaneously. The
          payoff you receive is determined by both your choice, and the choice of your partner, as
          described below. If the players choices mismatch, then each get a payoff of 0. If both
          choose Movie, then Row Player gets a payoff of 600 and Column gets a payoff of 200. If
          both choose Concert, then Row Player gets a payoff of 200 and Column gets a payoff of
          600. You will play for 5 rounds, with 5 different partners.
        </p>
        <table class="table table-md table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="3" scope="col" class="text-center">{% if player.role == 'column' %} Your Choice{% else %} Partner's Choice {% endif %}<br></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="3" scope="row" class="align-middle text-center">{% if player.role == 'row' %} Your Choice{% else %} Partner's Choice {% endif %}</th>
                    <td></td>
                        <th>Concert</th>
                        <th>Movie</th>
                </tr>
                <tr>
                    <th>Movie</th>
                        <td> (0, 0)</td>
                        <td> (600, 200)</td>
                </tr>
                <tr>
                    <th>Concert</th>
                        <td> (200, 600)</td>
                        <td>(0, 0)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
