{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          <br>
          In this game, you will participate in a series of auctions in a group of 2. In each auction, you will bid on a fictitious item, which has some value to you. This value will be the same for both you and your opponent, but no one will know the value with certainty, as described below. In each round, each group member will simultaneously submit a bid. The person with the highest bid wins and earns the value of the good. Additionally, the winner must pay a price for the item equal to their own bid.
          <br><br>
          The winner’s payoff is equal to the value minus their bid. The payoff of those who do not win is zero.
          <br><br>
          You will play the game for five periods and the value will be randomly determined each period. The value of the good is between 0 and 2, with any value in this interval being equally likely.
          <br><br>
          Although you do not know the precise value of the item in any particular auction period, each person will receive information which will narrow down the range of possible values. This will consist of a private information signal which is selected randomly from an interval whose lower bound the value minus .12, and whose upper bound is the value plus .12. Any value within this interval has an equally likely chance of being drawn and being assigned to one of you as your private information signal.
          <br><br>
          For example, suppose that the value of the auctioned item is .752. Then each person will receive a private information signal which will consist of a randomly drawn number that will be between .632 (i.e., .752 − .12) and .872 (i.e., .752 + .12). Any number in this interval has an equally likely chance of being drawn. Note that you may receive a signal that is below 0 or above 2. There is nothing strange about this, it just indicates that the value is close to 0 or 2.

        </p>
    </div>
</div>
