{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
          In this game, you will participate in a series of auctions in a group of 2. In each auction, you will bid on a fictitious item, which has some value to you. This value will be the same for both you and your opponent, but no one will know the value with certainty, as described below. In each round, each group member will simultaneously submit a bid. The person with the highest bid wins and earns the value of the good. Additionally, the winner must pay a price for the item equal to their own bid.
          <br><br>
          The winner’s payoff is equal to the value minus their bid. The payoff of those who do not win is zero.
          <br><br>
          You will play the game for five periods and the value will be randomly determined each period. The value of the good is between 0 and 1, as described below.
          <br><br>
          Although you do not know the precise value of the item in any particular auction period, each person will receive information which will narrow down the range of possible values. This will consist of a private information signal which is selected randomly from an interval from 0 to 1. Any value within this interval has an equally likely chance of being drawn and being assigned to one of you as your private information signal. <b> The common value of the item up for auction is the sum of the two unique signals recieved by both players. </b>
          <br><br>
          For example, suppose that the private information signal you recieve is .5, and the private information signal your partner recieves is .3. In this scenario, the common value of the item is the sum of both signals, .8 (i.e. (.5+.3)). However, the only information available to you while bidding is the value of your own private signal, .5. The private signal that your opponent recieves, and thus the common value of the item, is unknown.

        </p>
    </div>
</div>
